body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* General CSS ------------------------ */

.background-voilet{
  background-color: #4c1157;
}

.background-white{
  background-color: white;
  margin: 0 25%;
  border-radius: 28px;
  padding: 50px;
}

h1{
  color: white;
}

textarea:focus, input:focus, button:focus{
  outline: none !important;
}


/* Test 1 CSS ------------------------ */

.search-input{
  border: 0px solid;
  border-bottom: 3px solid #4c1157;
}

.button-submit{
  background-color: #f12789;
  color: white;
  border: 0px solid;
  padding: 15px;
  font-size: 20px;
  margin-top: 20px;
}

.button-submit:hover{
  background-color: violet;
}

#flag-container img{
  height: 200px;
  margin: 25px;
}

#country-details p, .site-font{
  font-weight: 700;
}

#country-details p span, .site-font span{
  font-weight: 700;
  color: violet;
}



/* Test 2  and Test 3 CSS ------------------------ */

.DisplayData table{
 margin: 0 auto;
 border: 1px solid black;
}

.DisplayData table tr:nth-child(odd) {background: #CCC}

  /* Test 4 CSS ------------------------ */

  h2{
   color: #4c1157;
  }